body
{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Sans-Serif;
    color: #444444;
    font-size: 9pt;
    color: black;
}

html {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

nav {
    width: 100%;
    height: 80px;
    display: grid;
    justify-items: center;
}

footer {
    width: 100%;
    height: 120px;
    display: grid;
    justify-items: center;
}

section{
    width: 100%;
    height: 100%;
    display: grid;
    justify-self: center;
    padding: 250px 0px;
}

label { 
    display: block;
    width: 480px;
    height: 40px; 
    display: grid;
    align-content: center;
}

.contenedorNavFooter{
    width: 80%;
    height: 100%;
    list-style: none;
    display: grid;
    justify-items: center;
    align-items: center;
}

.contenidosNav{
    width: 97%;
    height: 80%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.contenidosFooter{
    width: 97%;
    height: 80%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.contenedorNavFooterMenu-izq{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    justify-items: center;
    justify-content: start;
    grid-column-gap: 10px;
}

.contenedorNavFooterMenu-dcha{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: end;
    grid-column-gap: 10px;
}

.contenedorNavFooterMenu-elemento-img{
    display: grid;
    justify-content: center;
    align-content: center;
    opacity: 0.8;
    transition: background-color 0.3s ease;
}

.contenedorNavFooterMenu-elemento-img:hover{
    opacity: 1;
}

.contenedorNavFooterMenu-elemento {
    display: grid;
    justify-content: center;
    align-content: center;    
}

.contenedorNavFooterMenu-elemento-noHover {
    display: grid;
    justify-content: center;
    align-content: center;    
}

.contenedorNavFooterMenu-elemento-user {
    display: grid;
    justify-content: center;
    align-content: center;    
}

.contenedorNavFooterMenu-elemento-user a{
    font-size: 15px;
    text-decoration: none;
    color: black;   
}



.contenedorNavFooterMenu-elemento a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    opacity: 0.8;
    padding: 15px 15px;
    border-radius: 40px;
    transition: background-color 0.3s ease;

}

.contenedorNavFooterMenu-elemento a:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.062);
}

.contenedorNavFooterMenu-elemento-noHover a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    opacity: 0.8;
    padding: 10px 15px;
}

.contenedorNavFooterMenu-elemento-noHover a:hover{
    opacity: 1;
}

.textPageDialog {
    width: 100%;
    height: 100%;
    display: grid;
    justify-self: center;
    align-self: center;
    padding: 0px 0px 50px 0px;
}

.textPageArea{
    position: relative;
    display: grid;
    justify-self: center;
    justify-content: center;
    padding: 25px 0px ;
}

.contenedorTextPage{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px
                        auto;
    grid-row-gap: 20px;
}

.contenedorTextPage{
    text-decoration: none;
    list-style: none;
    display: hidden;
}

.tituloTextPage{
    height: 40px;
}

.tituloTextPage a{
    font-size: 50px
}

.descTextPage{
    width: 100%;
    height: 80px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.bloqueTextPage{
    width: 750px;
    height: 100%;
    display: grid;
    grid-row-gap: 20px;
}

.tituloBloque a{
    font-size: 35px;
}

.contenidoBloque a{
    font-size: 20px;
}

.formDialog-login {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.062);
}

.formDialog-wide {
    width: 100%;
    height: 100%;
    display: grid;
    justify-self: center;
    align-self: center;
    padding: 0px 0px 50px 0px;
}

.formArea-login {
    width: 400px;
    position: relative;
    display: grid;
    justify-content: center;
    padding: 25px 0px ;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
}

.formArea-wide {
    position: relative;
    display: grid;
    justify-self: center;
    justify-content: center;
    padding: 25px 0px ;
    background: transparent;
}

.contenedorForm-login {
    width: 350px;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
}

.contenedorForm-login {
    text-decoration: none;
    list-style: none;
    display: hidden;
}

.contenedorForm-wide {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 20px;
}

.contenedorForm-wide{
    text-decoration: none;
    list-style: none;
    display: hidden;
}

.tituloForm-login a{
    font-size: 18px
}

.tituloForm-wide {
    height: 40px;
}

.tituloForm-wide a{
    font-size: 25px
}

.descForm-login {
    width: 100%;
    height: 40px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.descForm-wide {
    width: 100%;
    height: 80px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.mensajeErrorForm {
    display: grid;
    justify-self: center;
    align-self: center;
    padding: 5px;
    width: 250px;
    height: 100%;
    border-radius: 10px;
    background-color: red;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    transition: background-color 0.3s ease;
}

.mensajeErrorForm a{
    display: grid;
    align-self: center;
    text-align: center;
}

.datoForm-login {
    display: grid;
    justify-content: center;
    padding: 5px 0px;
    
}

.datoForm-login input{
    width: 240px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    padding: 0px 10px;
    display: grid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    
}

.datoForm-login select{
    width: 260px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    padding: 0px 5px;
    display: grid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    
}

.datoForm-login-textArea {
    display: grid;
    justify-content: center;
    padding: 5px 0px;

}

.datoForm-login-textArea input{
    width: 250px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    padding: 0px 5px;
    display: grid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
}

.datoForm-wide {
    padding: 5px 0px;
    
}

.datoForm-wide input{
    width: 490px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    padding: 0px 10px;
    display: grid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    
}

.datoForm-wide select{
    width: 512px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    padding: 0px 5px;
    display: grid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    
}

.datoForm-wide-label{
    display: grid;
    align-items: center;
    justify-self: center;
    width: 490px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    padding: 0px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
}

.datoForm-wide-label input{
    width: 100px;
    height: 100px;

}

.datoForm-wide-textArea {
    padding: 5px 0px;

}

.datoForm-wide-textArea textarea{
    width: 490px;
    height: 100px;
    max-height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    resize: vertical;
}

.botonPopupRegistroLogin {
    width: 100%;
    padding: 5px 0px;
    display: grid;
    justify-content: center;
}

.botonPopupRegistroLogin-container{
    display: grid;
    width: 240px;
    justify-content: end;
}

.botonPopupRegistroLogin-container a{
    text-decoration: none;
    color: black;
    opacity: 0.6;
}

.botonPopupRegistroLogin-container a:hover{
    opacity: 0.8;
}

.botonForm-login {
    display: grid;
    justify-content: center;
    padding: 10px 0px 15px 0px;
}

.botonForm-login input {
    width: 100px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 40px;
    padding: 0px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    background-color: white;
}

.botonForm-wide {
    display: grid;
    justify-content: center;
    padding: 10px 0px 15px 0px;
}

.botonForm-wide input {
    width: 200px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 40px;
    padding: 0px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    background-color: white;
}

.textoForm-login {
    display: grid;
    justify-content: center;
}

.contenedorTextoForm {
    width: 250px;
    height: 50px;
    padding: 0px 5px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.datosHrefPoliticas {
    color: black;
    opacity:0.75;
    text-decoration: none;
}

.datosHrefPoliticas:hover{
    color: black;
    opacity: 1;
    text-decoration: none;
}

.popupDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(5px);
    z-index: 9999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupDialog:target {
    opacity:1;
    pointer-events: auto;
}

.popupDialog-wide {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(5px);
    z-index: 9999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupDialog-wide:target {
    opacity:1;
    pointer-events: auto;
}

.popupArea {
    width: 400px;
    position: relative;
    display: grid;
    justify-content: center;
    padding: 25px 0px ;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);

    z-index: 99999;
    
}


.popupArea-wide {
    width: 100%;
    position: relative;
    display: grid;
    justify-content: center;
    align-self: start;
    padding: 25px 0px ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);

    z-index: 99999;
    
}

.popupArea-publicacion{
    height: 500px;
    position: relative;
    display: grid;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);

    z-index: 99999;
}

.contenedorPopup {
    width: 350px;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 10px;

}

.contenedorPopup{
    text-decoration: none;
    list-style: none;
    display: hidden;
}

.contenedorPopup-wide {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    justify-content: center;

}

.contenedorPopup-wide{
    text-decoration: none;
    list-style: none;
    display: hidden;
}

.contenedorPopup-publicacion {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;

}

.descPublicacionPopup{
    width: 400px;
    padding: 25px;
}

.cerrarPublicacionPopup{
    display: grid;
    justify-content: end;
    padding: 0% 0% 10% 0%;
}

.elementoContenidoPublicacionPopup{
    width: 100%;
    padding: 2% 0%;
    word-wrap: break-word;
}

.tituloPopup {
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-areas: "vacio desc cerrar";
}

.tituloPopup-wide {
    display: grid;
    justify-content: center;
}

.textoPopup-wide {
    display: grid;
    justify-content: center;
    align-content: center;   
    width: 100px;
    height: 40px;
}

.textoPopup-wide a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    opacity: 0.8;
    padding: 10px 15px;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}

.textoPopup-wide a:hover{
    background-color: rgba(0, 0, 0, 0.062);
}

.descPopup {
    width: 100%;
    height: 40px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.cerrarPopup {
    width: 40px;
    height: 40px;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 40px;
    transition: background-color 0.3s ease;

}

.cerrarPopup img{
    text-align: center;
}

.cerrarPopup:hover {
    
    background-color: rgba(0, 0, 0, 0.062);
    
    
}

.texto {
    display: grid;
    justify-self: center;
    align-self: center;
    padding: 5px;
    width: 250px;
    height: 100%;
    background-color: white;
}

.texto a{
    display: grid;
    align-self: center;
    text-align: center;
}

.customMenuPopup{
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: auto auto;
    grid-column-gap: 40px;
}


.texto-warning {
    display: grid;
    justify-self: center;
    align-self: center;
    padding: 5px;
    width: 250px;
    height: 100%;
    border-radius: 10px;
    background-color: red;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    transition: background-color 0.3s ease;
}

.texto-warning a{
    display: grid;
    align-self: center;
    text-align: center;
}

.dato-input {
    display: grid;
    justify-content: center;
    padding: 5px 0px;
    
}

.dato-input input{
    width: 240px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    padding: 0px 10px;
    display: grid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    
}

.coloresRegistro {
    display: grid;
    grid-template-rows:     25px
                            auto;
    grid-template-areas:    "texto"
                            "colores";
    justify-content: center;
}

.textoPasswordColores {
    grid-area: texto;
    height: 100%;
    width: 250px;
}

.coloresPasswordColores {
    grid-area: colores;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bloqueColor {
    width: 40px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);

}

.botonRegistro {
    display: grid;
    justify-content: center;
    padding: 40px 0px 20px 0px;
}

.botonRegistro input{
    width: 100px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 40px;
    padding: 0px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    background-color: white;
}

.botonRegistro input :hover{
    background-color: rgba(0, 0, 0, 0.062);
    cursor: pointer;
}

.contenedorPostsObj{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: auto auto auto;
    grid-row-gap: 40px;
    grid-column-gap: 80px;
    justify-content: center;
}

.postObj{
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.062);
    padding: 2% 2.5%;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    display: grid;
    grid-template-rows:     auto
                            75%
                            auto;
}

.tituloPostObj{
    display: grid;
    justify-content: center;
    align-content: center;
}

.tituloPostObj a{
    font-size: 15px;
}

.fotoPostObj{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
}

.fotoPostObj img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nombrePostObj{
    display: grid;
    justify-content: center;
    align-content: center;
}

.nombrePostObj a{
    font-size: 15px;
}


@media (max-width: 1440px) {
    .contenedorNavFooter {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .contenidosFooter{
        width: 97%;
        height: 80%;
        display: grid;
        grid-template-columns:auto;
        justify-content: center;
        align-content: center;
    }
    
    .tituloTextPage a{
        font-size: 35px
    }


    .tituloBloque a{
        font-size: 25px;
    }

    .contenidoBloque a{
        font-size: 15px;
    }
}

@media (max-width: 768px){
    .bloqueTextPage{
        width: 500px;
    }
    
}
@media (max-width: 425px) {
    body {
      font-size: 14px;
    }

    section{
        padding: 150px 0px;
    }

    .loginDialog{
        background-color: white;
    }

    .formDialog-login{
        background-color: white;
    }

    .formArea-login{

        background-color: white;
        width: 400px;
        border-radius: 0px;
        background: white;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    }

    .popupDialog {
        background: white;
        backdrop-filter: blur(0px);
    }
    .popupDialog:target {
        opacity:1;
        pointer-events: auto;
    }
    
    .popupArea {
        border-radius: 0px;
        background: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0);        
    }

    .tituloForm-wide a{
        font-size: 20px;
    }

    .datoForm-wide input{
        width: 350px;
    }

    .datoForm-wide select{
        width: 375px;
    }

    .datoForm-wide-textArea textarea{
        width: 350px;
    }

    .datoForm-wide-label{
        width: 350px;
    }

    .contenedorNavFooterMenu-elemento-noHover a{
        font-size: 10px;
    }

    .tituloTextPage a{
        font-size: 25px
    }
    
    .bloqueTextPage{
        width: 300px;
        grid-row-gap: 10px;
    }

    .contenedorTextPage{
        grid-template-rows: 150px
                            auto;
    }

    .contenidoBloque a{
        font-size: 10px;
    }
  }

  @media (max-width: 375px){
    .datoForm-wide input{
        width: 300px;
    }

    .datoForm-wide select{
        width: 325px;
    }

    .datoForm-wide-textArea textarea{
        width: 300px;
        height: 120px;
    }

    .datoForm-wide-label{
        width: 300px;
    }

    .contenedorNavFooterMenu-elemento-noHover a{
        font-size: 8px;
    }
  }

  @media (max-width: 320px){

    
    .datoForm-wide input{
        width: 280px;
    }

    .datoForm-wide select{
        width: 305px;
    }

    .datoForm-wide-textArea textarea{
        width: 280px;
        height: 120px;
    }

    .datoForm-wide-label{
        width: 280px;
    }

    .contenedorNavFooterMenu-elemento-noHover a{
        font-size: 8px;
    }

    .contenedorNavFooterMenu-elemento-noHover a{
        font-size: 10px;
    }

    .contenedorPopup{
        width: 300px;
    }
    

    .tituloTextPage a{
        font-size: 20px;
    }
    
    .bloqueTextPage{
        width: 250px;
    }

    .tituloBloque a{
        font-size: 20px;
    }

    .contenedorNavFooterMenu-elemento-noHover a{
        font-size: 6px;
    }
    
  }