body
{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Sans-Serif;
    width: 100%;
    height: 100%;
    color: #444444;
    font-size: 9pt;
    
}

html {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

nav {
    width: 100%;
    height: 80px;
    background-color: red;
}

.formDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.062);
}

.formArea {
    width: 400px;
    position: relative;
    display: grid;
    justify-content: center;
    padding: 25px 0px ;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    z-index: 99999;
}

.formArea-wide {
    width: 800px;
    position: relative;
    display: grid;
    justify-content: center;
    padding: 25px 0px ;
    background: transparent;
    z-index: 99999;
}

.contenedorForm {
    width: 350px;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
}

.contenedorForm{
    text-decoration: none;
    list-style: none;
    display: hidden;
}

.contenedorForm-wide {
    width: 750px;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 20px;
}

.contenedorForm-wide{
    text-decoration: none;
    list-style: none;
    display: hidden;
}

.tituloForm a{
    font-size: 18px
}

.tituloForm-wide a{
    font-size: 25px
}

.descForm {
    width: 100%;
    height: 40px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.descForm-wide {
    width: 100%;
    height: 80px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.mensajeErrorForm {
    display: grid;
    justify-self: center;
    align-self: center;
    padding: 5px;
    width: 250px;
    height: 100%;
    border-radius: 10px;
    background-color: red;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    transition: background-color 0.3s ease;
}

.mensajeErrorForm a{
    display: grid;
    align-self: center;
    text-align: center;
}

.datoForm {
    display: grid;
    justify-content: center;
    padding: 5px 0px;
    
}

.datoForm input{
    width: 240px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    padding: 0px 10px;
    display: grid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    
}

.datoForm select{
    width: 260px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    padding: 0px 5px;
    display: grid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    
}

.datoForm-textArea {
    display: grid;
    justify-content: center;
    padding: 5px 0px;

}

.datoForm-textArea input{
    width: 250px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    padding: 0px 5px;
    display: grid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
}

.datoForm-wide {
    display: grid;
    justify-content: center;
    padding: 5px 0px;
    
}

.datoForm-wide input{
    width: 490px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    padding: 0px 10px;
    display: grid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    
}

.datoForm-wide select{
    width: 515px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    padding: 0px 5px;
    display: grid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    
}

.datoForm-wide-textArea {
    display: grid;
    justify-content: center;
    padding: 5px 0px;

}

.datoForm-wide-textArea textarea{
    width: 490px;
    height: 100px;
    max-height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    resize: vertical;
}

.botonPopupRegistroLogin {
    width: 100%;
    padding: 5px 0px;
    display: grid;
    justify-content: center;
}

.botonPopupRegistroLogin-container{
    display: grid;
    width: 240px;
    justify-content: end;
}

.botonPopupRegistroLogin-container a{
    text-decoration: none;
    color: black;
    opacity: 0.6;
}

.botonPopupRegistroLogin-container a:hover{
    opacity: 0.8;
}

.botonForm {
    display: grid;
    justify-content: center;
    padding: 10px 0px 15px 0px;
}

.botonForm input {
    width: 100px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 40px;
    padding: 0px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    background-color: white;
}

.botonForm-wide {
    display: grid;
    justify-content: center;
    padding: 10px 0px 15px 0px;
}

.botonForm-wide input {
    width: 200px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 40px;
    padding: 0px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    background-color: white;
}

.textoForm {
    display: grid;
    justify-content: center;
}

.contenedorTextoForm {
    width: 250px;
    height: 50px;
    padding: 0px 5px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.datosHrefPoliticas {
    color: black;
    opacity:0.75;
    text-decoration: none;
}

.datosHrefPoliticas:hover{
    color: black;
    opacity: 1;
    text-decoration: none;
}

.popupDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(5px);
    z-index: 0;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupDialog:target {
    opacity:1;
    pointer-events: auto;
}

.popupArea {
    width: 400px;
    position: relative;
    display: grid;
    justify-content: center;
    padding: 25px 0px ;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);

    z-index: 99999;
    
}

.contenedorPopup {
    width: 350px;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 10px;

}

.contenedorPopup{
    text-decoration: none;
    list-style: none;
    display: hidden;
}

.tituloPopup {
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-areas: "vacio desc cerrar";
}

.descPopup {
    width: 100%;
    height: 40px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.cerrarPopup {
    width: 40px;
    height: 40px;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 40px;
    transition: background-color 0.3s ease;

}

.cerrarPopup img{
    text-align: center;
}

.cerrarPopup:hover {
    
    background-color: rgba(0, 0, 0, 0.062);
    
    
}

.texto {
    display: grid;
    justify-self: center;
    align-self: center;
    padding: 5px;
    width: 250px;
    height: 100%;
    background-color: white;
}

.texto a{
    display: grid;
    align-self: center;
    text-align: center;
}

.customMenuPopup{
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: auto auto;
    grid-column-gap: 40px;
}


.texto-warning {
    display: grid;
    justify-self: center;
    align-self: center;
    padding: 5px;
    width: 250px;
    height: 100%;
    border-radius: 10px;
    background-color: red;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    transition: background-color 0.3s ease;
}

.texto-warning a{
    display: grid;
    align-self: center;
    text-align: center;
}

.dato-input {
    display: grid;
    justify-content: center;
    padding: 5px 0px;
    
}

.dato-input input{
    width: 240px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    padding: 0px 10px;
    display: grid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    
}

.coloresRegistro {
    display: grid;
    grid-template-rows:     25px
                            auto;
    grid-template-areas:    "texto"
                            "colores";
    justify-content: center;
}

.textoPasswordColores {
    grid-area: texto;
    height: 100%;
    width: 250px;
}

.coloresPasswordColores {
    grid-area: colores;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bloqueColor {
    width: 40px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);

}

.botonRegistro {
    display: grid;
    justify-content: center;
    padding: 40px 0px 20px 0px;
}

.botonRegistro input{
    width: 100px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 40px;
    padding: 0px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.062);
    background-color: white;
}

.botonRegistro input :hover{
    background-color: rgba(0, 0, 0, 0.062);
    cursor: pointer;
}

@media (max-width: 425px) {
    body {
      font-size: 14px;
    }

    .loginDialog{
        background-color: white;
    }

    .loginArea{
        background-color: white;width: 400px;
        border-radius: 0px;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    }

    .popupDialog {
        background: white;
        backdrop-filter: blur(0px);
    }
    .popupDialog:target {
        opacity:1;
        pointer-events: auto;
    }
    
    .popupArea {
        border-radius: 0px;
        background: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0);        
    }

    .tituloForm-wide a{
        font-size: 20px;
    }

    .datoForm-wide input{
        width: 350px;
    }

    .datoForm-wide select{
        width: 375px;
    }

    .datoForm-wide-textArea textarea{
        width: 350px;
    }
  }

  @media (max-width: 375px){
    .datoForm-wide input{
        width: 300px;
    }

    .datoForm-wide select{
        width: 325px;
    }

    .datoForm-wide-textArea textarea{
        width: 300px;
        height: 120px;
    }
  }

  @media (max-width: 320px){
    .datoForm-wide input{
        width: 280px;
    }

    .datoForm-wide select{
        width: 305px;
    }

    .datoForm-wide-textArea textarea{
        width: 280px;
        height: 120px;
    }
  }